
[submodule "modules/chirptext"]
	path = modules/chirptext
	url = git@github.com:letuananh/chirptext
[submodule "modules/puchikarui"]
	path = modules/puchikarui
	url = git@github.com:letuananh/puchikarui
[submodule "modules/lelesk"]
	path = modules/lelesk
	url = git@github.com:letuananh/lelesk
[submodule "modules/yawlib"]
	path = modules/yawlib
	url = https://github.com/letuananh/yawlib
